node_modules
.DS_Store
.vs/gobbletexpress/FileContentIndex/3c458af3-6704-4c3c-b7c1-6d87e30eb38b.vsidx
.vs/gobbletexpress/FileContentIndex/dab8c9bf-4149-4d21-9529-6106f775bd09.vsidx
/.vs/gobbletexpress/FileContentIndex/33a04fb2-796a-4e04-b53f-c93bf708d6b3.vsidx
/.vs/gobbletexpress/FileContentIndex/d299c3e9-c3be-49dd-9d88-96a2ef3fe0cf.vsidx
